<h1>Оглянись Вокруг</h1>

<p>
    Великое многообразие России заключается не только в населяющих её народах, но и в самой природе, как таковой. Просторы нашей страны велики настолько, что охватывают целых 11 часовых поясов в своих пределах — уже одно это говорит о невероятном природном разнообразии.
</p>
<p>
    Этот раздел сайта для публикаций фотографий красивейших мест России —
</p>
<p>
    Мест, что ежедневно окружают нас, благодаря чему, возможно, даже стали само собой разумеющимися, тем не менее, они смиренно ждут когда их кто-то заметит... 
</p>

<p>
    Мест, что дарят нам вдохновение, даже не смотря на то что и к этому мы тоже уже привыкли и даже не удивляемся тому что на известные вопросы нам не составит труда ответить в рифму...

    Например:
    "- Как дела?
    - Как радость светла..."
</p>

<p>
    Мест, что наполняют и пронизывают нас тишиной и гармонией, даря при этом чувство спокойствия и умиротворения...
</p>
