<div class="beresta-scene" [ngStyle]="{ 'font-family': 'var(--font-family)' }">
  <div class="ui-overlay">
    <header class="app-header">
      <div class="logo">
        <img class="icon DrevoMira" src="assets/icons/DrevoMira.svg" alt="Древо_Мира" />
      </div>

      <div class="tooltip-container">
        <div class="tooltip" *ngFor="let item of tooltips">
          <img [src]="item.img" [alt]="item.alt" [class]="item.class" />
          <span class="tooltip-text" [innerHTML]="item.text"></span>
        </div>
      </div>

      <div class="controls">
        <div class="language-switcher">
          <button class="lang-btn" (click)="toggleLangMenu()">{{ currentLang | uppercase }}</button>

          <div *ngIf="isLangMenuOpen" [@dropdownAnimation]>
            <button class="lang-btn-rus" (click)="switchLanguage('ru')">Рус</button>
            <button class="lang-btn-tat" (click)="switchLanguage('tt')">Тат</button>
          </div>
        </div>

        <div class="font-menu">
          <button (click)="toggleFontMenu()">Письменность</button>

          <div *ngIf="isFontMenuOpen" class="font-dropdown">
            <button (click)="selectScript('ru')" class="ru" [class.active]="activeScript === 'ru'">
              Русская
            </button>
            <button (click)="selectScript('tt')" class="tt" [class.active]="activeScript === 'tt'">
              Татарская
            </button>

            <div *ngIf="activeScript === 'ru'" [class.active]="currentFont === 'ru'">
              <button (click)="changeFontStyle('ustav')" [class.active]="currentFont === 'ustav'">
                Устав
              </button>
              <button
                (click)="changeFontStyle('poluustav')"
                [class.active]="currentFont === 'poluustav'"
              >
                Полуустав
              </button>
              <button
                (click)="changeFontStyle('skoropis')"
                [class.active]="currentFont === 'skoropis'"
              >
                Скоропись
              </button>
              <button (click)="changeFontStyle('modern')" [class.active]="currentFont === 'modern'">
                Современный
              </button>
            </div>

            <div *ngIf="activeScript === 'tt'" [class.active]="currentFont === 'tt'">
              <button (click)="changeFontStyle('orkhon')" [class.active]="currentFont === 'orkhon'">
                Орхон
              </button>
              <button (click)="changeFontStyle('arabic')" [class.active]="currentFont === 'arabic'">
                Арабская
              </button>
              <button (click)="changeFontStyle('latin')" [class.active]="currentFont === 'latin'">
                Латиница
              </button>
              <button (click)="changeFontStyle('modern')" [class.active]="currentFont === 'modern'">
                Современный
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <button class="menu-toggle" (click)="toggleLeftMenu()">Меню</button>

    <nav class="left-menu" *ngIf="isMenuOpen" [@dropdownAnimation]>
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Главная</a
          >
        </li>
        <li>
          <a
            routerLink="/poems"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Стихи</a
          >
        </li>
        <li>
          <a
            routerLink="/photos"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >За пределами строк</a
          >
        </li>
        <li>
          <a
            routerLink="/oglyanis-vokrug"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Оглянись Вокруг</a
          >
        </li>
        <li>
          <a
            routerLink="/etimology"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Этимология</a
          >
        </li>
        <li>
          <a
            routerLink="/mythology"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Мифология</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >О проекте</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <!-- Основной контент -->
  <main class="beresta-content">
    <div class="content-sheet cracked-text">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Правый блок -->
  <aside class="right-block">
    <p>Info</p>
  </aside>

  <!-- Футер -->
  <footer class="footer">
    <p class="project">© 2025 Lepota Okol</p>
    <div class="Contacts">
      <p>Contacts:</p>
      <p>Email: <a href="lepota.okol&commat;lepotaokol.ru">lepota.okol&commat;lepotaokol.ru</a></p>
    </div>
  </footer>

  <svg width="0" height="0">
    <filter id="text-distortion" x="0" y="0">
      <feTurbulence type="turbulence" baseFrequency="2" numOctaves="1" result="turbulence" />
      <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="1" />
    </filter>

    <filter id="cracked-ink">
      <feTurbulence type="fractalNoise" baseFrequency="6" numOctaves="2" result="turbulence" />
      <feDisplacementMap
        in2="turbulence"
        in="SourceGraphic"
        scale="1.7"
        xChannelSelector="R"
        yChannelSelector="G"
      />
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.9" />
      </feComponentTransfer>
    </filter>
  </svg>
</div>
