:root {
  --font-family: TimesNewRoman, serif;
}
:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: grid;
  height: auto;
  position: relative;
  top: 0px;
  left: 30%;
  transform: translateX(0);
  transition: transform 0.3s ease;
  transform-origin: top left;
  z-index: 150;
  .icon {
    width: 15vw;
    height: auto;
    position: relative;
  }
}
.logo:active {
  transform: scale(3.5);
  transition: transform 0.35s ease-in-out;
}

.language-switcher {
  position: absolute;
  top: 5vh;
  right: 6vw;
  display: flex;
  background-color: rgba(255, 255, 255, 0.655);
  transform: scale(0.98);
  text-shadow: #6f6f6f;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: rgba(255, 255, 255, 0.563);
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1.5px 1.5px 4px #000000c1;
  }
}
.lang-btn-rus {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #6f6f6f;
  padding: 3px 16px;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #2c699a;
    color: #fff;
    box-shadow: 1.5px 1.5px 4px #000000c1;
  }
}

.lang-btn-tat {
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #6f6f6f;
  padding: 3px 16px;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #2c699a;
    color: #fff;
    box-shadow: 1.5px 1.5px 4px #000000c1;
  }
}

.lang-btn {
  display: inline;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #6f6f6f;
  padding: 1vh 2.5vw;
  transform: scale(0.98);
  font-size: 12px;
  border: 1.5px solid #6f6f6f;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #2c699a;
    color: #fff;
    box-shadow: 1.5px 1.5px 4px #000000c1;
  }
}

.tooltip-container {
  position: absolute;
  display: flex;
  width: 35px;
  top: 0px;
  right: 10vw;
  height: 25px;
  gap: 20px;
  z-index: 100;
}

.tooltip {
  position: relative;
  display: grid;
  right: 5vw;
  top: 0px;

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    background: rgba(20, 20, 20, 0.624);
    color: #2c699a;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    width: 20vh;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover .tooltip-text {
    visibility: visible;
    position: absolute;
    opacity: 1;
    box-shadow: 2px 2px 6px #292929a7;
    color: #fff;
    text-shadow: 3px 3px 5px #6f6f6f;
    transition: all 0.35s ease-in-out;
    left: auto;
    right: 0;
    transform: translateX(0);
  }
  img {
    background: #ffffff00;
    width: 30px;
    height: 3vh;
    cursor: pointer;
    display: run-in;
  }
}

.font-menu-wrapper button,
.font-menu button {
  background: rgba(255, 255, 255, 0.622);
  color: navy;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-weight: bold;
  padding: 1vh 1vw;
  border-radius: 1.5vh;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: rgba(44, 105, 154, 0.7);
  }
}

.font-menu-wrapper {
  position: absolute;
  top: 4.5vh;
  right: 18.5vw;
  display: flex;
  z-index: 30;

  :hover {
    box-shadow: 2px 2px 4px #000000c1;
    color: #fff;
    transition: all 0.35s ease-in-out;
  }
}

.font-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 1.5vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 5px;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #2c699a;

  a {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
  }

  :active {
    transform: scale(0.98);
  }
}

.beresta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95.5vh;
  position: relative;
  padding: 20px;
  flex-direction: column;
  overflow: hidden;
}

.beresta-wrapper {
  display: flex;
  align-items: stretch;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.left-block {
  position: fixed;
  margin-top: 18%;
  left: 1%;
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  a {
    text-decoration: none;
    color: #2c699a;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #1b4d79;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.35s ease-in-out;

    &:hover {
      background: rgba(44, 105, 154, 0.7);
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 1.5px 1.5px 4px #000000c1;
    }
  }

  li {
    padding-top: 4vh;
    list-style-type: none;
  }

  .left-bottom-space {
    flex-grow: 1;
    background-color: inherit;
  }
}

.content-wrapper {
  position: relative;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  color: #3b2f26;
  filter: url(#cracked-ink);
  filter: url(#text-distortion);
  margin-left: 21vw;
  margin-right: 25vw;
  margin-bottom: 18vh;
  margin-top: 15vh;
  flex: 1;
  overflow-y: auto;
  height: 75vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  overflow: auto;
  padding: 2vh;
  overflow-y: auto;
}

.right-block {
  position: absolute;
  bottom: 33.5vh;
  right: 4vw;
  height: 56vh;
  width: 23vw;
  border-radius: 15px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.379);
  color: white;
  display: flex;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 12vh;
  background: rgba(0, 17, 255, 0.182);
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.project {
  position: absolute;
  left: 80%;
  top: 5vh;
}

@media (max-width: 768px) {
  .logo {
    :icon {
      left: 4vw;
      width: 1.5vw;
    }
  }

  tooltip-container {
    position: absolute;
    display: inline-flex;
    top: 0px;
    right: 15vw;
    height: 2vh;
    z-index: 100;
  }

  .tooltip {
    position: relative;
    display: grid;
    right: 15vw;
    top: 0px;

    .tooltip-text {
      visibility: hidden;
      position: absolute;
      background: rgba(20, 20, 20, 0.624);
      text-align: center;
      padding: 8px;
      border-radius: 5px;
      width: 20vh;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &:hover .tooltip-text {
      visibility: visible;
      position: absolute;
      font-size: 16px;
      opacity: 1;
      box-shadow: 2px 2px 6px #292929a7;
      color: #fff;
      text-shadow: 3px 3px 5px #6f6f6f;
      transition: all 0.35s ease-in-out;
      left: auto;
      right: 0;
      transform: translateX(0);
    }
  }

  .language-switcher {
    top: 0.5vh;
    left: 50vw;
    width: 0vw;
    z-index: 35;
    color: navy;

    .lang-btn {
      display: inline;
      position: relative;
      background-color: rgba(255, 255, 255, 0.656);
      height: auto;
      border: 1px solid #6f6f6f;
      padding: 0.6vh 4vw;
      font-size: 12px;
      color: navy;
      border: 1.5px solid #6f6f6f;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #1b4d79;
        color: #fff;
      }
    }
    .lang-btn-rus {
      position: relative;
      display: flex;
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid #6f6f6f;
      padding: 3px 16px;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        background: #2c699a;
        color: #fff;
        box-shadow: 1.5px 1.5px 4px #000000c1;
      }
    }

    .lang-btn-tat {
      position: relative;
      display: flex;
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid #6f6f6f;
      padding: 3px 16px;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        background: #2c699a;
        color: #fff;
        box-shadow: 1.5px 1.5px 4px #000000c1;
      }
    }
  }
  .font-menu-wrapper {
    right: 6.5vw;
  }
  .left-block {
    display: none;
  }
  .content-wrapper {
    position: relative;
    width: 43vw;
    font-size: 15px;
    padding-right: 30px;
  }
  .mobile {
    display: inline;
    position: relative;
    width: 20px;
    height: 30px;
    padding-top: 20vh;
    margin-left: 1vw;
    border-radius: 10px;
    font-weight: bold;

    button {
      width: 19.5vw;
      background: rgba(255, 255, 255, 0.3);
      color: navy;
      font-weight: bold;
      padding: 1.5vh 1.2vw;
      border-radius: 1.5vh;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        background: rgba(44, 105, 154, 0.8);
        color: white;
      }
    }

    .mobile-menu {
      position: absolute;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      top: 100%;
      height: 230%;
      color: navy;

      button {
        position: relative;
        width: 5vw;
        height: 10px;
        background: rgba(255, 255, 255, 0);
        padding: 8px 10px;
        text-align: center;
        cursor: pointer;
      }
      .menu-toggle :active {
        background-color: #1b4d79;
      }

      a {
        display: block;
        padding: 8px 16px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 16px;
        border: #2c699a;
        background: rgba(255, 255, 255, 0.721);
        border-style: solid;
      }
    }

    .mobile-menu ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-top: 10px;
      padding-left: 0;
      margin: 0;
    }
  }
  .project {
    position: absolute;
    left: 75%;
    top: 2vh;
  }
}

@media (max-width: 425px) {
  .tooltip {
    .tooltip-text {
      width: 20vh;
    }

    &:hover .tooltip-text {
      font-size: 14px;
    }
  }

  .font-menu-wrapper {
    right: 1.5vw;
  }

  .content-wrapper {
    font-size: 12px;
  }

  .mobile {
    padding-top: 15vh;
    left: 2.5vw;
    .mobile-menu {
      a {
        font-size: 15px;
      }
    }
  }
  .project {
    left: 80%;
    top: 2vh;
  }
}
