:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.beresta-scene {
  position: relative;
  width: 100%;
  background: var(--beresta-bg);
  overflow-x: hidden;
  background: url('/assets/beresta.png') no-repeat center center/cover;
  background-size: 135vw 118vh;
}

.ui-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10;

  > * {
    pointer-events: auto;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  display: grid;
}

.logo {
  display: grid;
  height: auto;
  position: relative;
  top: 0px;
  left: 2vw;
  transform: translateX(0);
  transition: transform 0.3s ease;
  transform-origin: top left;
  z-index: 150;
  .icon {
    width: 10vw;
    max-width: 20vh;
    position: relative;
  }
}

.logo:active {
  transform: scale(3.5);
  transition: transform 0.35s ease-in-out;
}

.tooltip-container {
  position: absolute;
  display: flex;
  width: 35px;
  top: 0px;
  right: 15%;
  height: 25px;
  gap: 20px;
  z-index: 100;
}

.tooltip {
  position: relative;
  display: grid;
  right: 6vw;

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    background: rgba(20, 20, 20, 0.624);
    color: #2c699a;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    width: 20vh;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover .tooltip-text {
    visibility: visible;
    position: absolute;
    opacity: 1;
    box-shadow: 2px 2px 6px #292929a7;
    color: #fff;
    transition: all 0.35s ease-in-out;
    left: auto;
    right: 0;
    transform: translateX(0);
  }
  img {
    width: 23px;
    cursor: pointer;
    display: run-in;
  }
}

.language-switcher button {
  max-width: 10vh;
}
.language-switcher {
  position: absolute;
  top: 4.5vh;
  right: 12vw;
  background-color: rgba(255, 255, 255, 0.655);
  transform: scale(0.98);
  text-shadow: #6f6f6f;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #ffffff00;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
}

.lang-btn-rus {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid #6f6f6f;
  padding: 3px 14px;
  border-radius: 8px;
  font-weight: bold;
  color: rgba(0, 0, 158, 0.762);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #2c699a;
    color: #fff;
  }
}

.lang-btn-tat {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid #6f6f6f;
  padding: 3px 14px;
  border-radius: 8px;
  font-weight: bold;
  color: rgba(0, 0, 158, 0.762);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #2c699a;
    color: #fff;
  }
}

.lang-btn {
  position: relative;
  color: rgba(0, 0, 158, 0.762);
  background-color: rgba(255, 255, 255, 0.281);
  border: 1px solid #6f6f6f;
  padding: 1vh 2vw;
  transform: scale(0.98);
  font-size: 12px;
  gap: 2px;
  border: 1.5px solid #6f6f6f;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #2c699a;
    color: #fff;
  }
}

.font-menu button {
  background: rgba(255, 255, 255, 0.622);
  color: rgba(0, 0, 158, 0.762);
  width: auto;
  max-width: 50vh;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 1vh 1vw;
  border-radius: 1.5vh;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    background: rgba(44, 105, 154, 0.7);
  }
}

.font-menu button.active {
  background: rgba(44, 105, 154, 0.9);
  color: #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}

.font-menu {
  position: absolute;
  right: 35vw;
  top: 0.5vh;
  display: flex;
  flex-direction: column;
  border-radius: 1.5vh;
  width: 22vw;
  z-index: 30;

  :hover {
    color: #fff;
    transition: all 0.35s ease-in-out;
  }

  a {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
  }
  :active {
    transform: scale(0.95);
  }
  .ru {
    padding-block: 14px;
    margin-block: 12px;
  }
  .tt {
    padding-block: 14px;
    margin-block: 12px;
  }
}

.menu-toggle {
  position: fixed;
  background: rgba(255, 255, 255, 0.736);
  color: rgba(0, 0, 158, 0.762);
  top: 26vh;
  width: 18vw;
  max-width: 28vh;
  height: auto;
  padding: 0.75rem 1.25rem;
  left: 2.2vw;
  border-radius: 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transform: scale(0.95);
  box-shadow: ease-in-out 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.left-menu {
  position: absolute;
  border-radius: 8px;
  color: rgba(0, 0, 158, 0.762);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  top: 30vh;
  padding-top: 0;
  font-size: 14px;
  width: 21vw;
  transition: all 0.35s ease-in-out;
  cursor: pointer;

  a {
    text-decoration: none;
    color: rgba(0, 0, 158, 0.762);
    background: rgba(255, 255, 255, 0.746);
    border: 1px solid #1b4d79;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.68);
    transition: all 0.35s ease-in-out;

    &:hover {
      background: rgba(44, 105, 154, 0.7);
      color: #fff;
      text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.544);
      transition: all 0.35s ease-in-out;
      box-shadow: 2.5px 2.5px 4px #000000c1;
    }
  }

  li {
    padding-top: 3vh;
    gap: 0px;
  }
}
.left-menu a.active-link {
  background: rgba(44, 105, 154, 0.85);
  color: #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);
}
.left-menu a:active {
  transform: scale(0.97);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.left-menu ul {
  display: grid;
  position: relative;
  list-style: none;
  gap: 0px;
  width: 18vw;
  &:active {
    transition: all 0.35s ease-in-out;
    box-shadow: 2.5px 2.5px 4px #000000c1;
  }
}

.beresta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  flex-direction: column;
  overflow: hidden;
}

.beresta-wrapper {
  display: flex;
  align-items: stretch;
}

.beresta-content {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.content-sheet {
  max-width: 900px;
  background: rgba(255, 255, 255, 0.05);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  color: #302720;
  filter: url(#cracked-ink);
  filter: url(#text-distortion);
  overflow-y: auto;
  font-size: 16px;
  margin-left: 24vw;
  margin-right: 29vw;
  margin-bottom: 10vh;
  margin-top: 12vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.right-block {
  position: absolute;
  bottom: 33.5vh;
  right: 4vw;
  height: 56vh;
  width: 23vw;
  border-radius: 15px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.379);
  color: white;
  align-items: center;
  display: none;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  font-size: 17px;
  color: rgb(255, 177, 32);
  z-index: 10;
}

.Contacts {
  position: fixed;
  left: 3vw;
  bottom: 3vh;
  color: #fc9e10;
}
.project {
  position: fixed;
  left: 80%;
  bottom: 2vh;
}

@media (max-width: 768px) {
  .tooltip {
    right: 10vw;
    font-size: 14px;
    img {
      width: 25px;
    }
  }

  .font-menu button {
    font-size: 14px;
  }

  .font-menu {
    padding: 8px;
    top: 2.5vh;
    left: 50vw;

    .ru {
      padding-block: 10px;
      margin-block-end: 8px;
    }

    .tt {
      padding-block: 10px;
      margin-block-end: 8px;
    }
  }

  .language-switcher {
    top: 0.1vh;
    left: 50vw;
    width: 0;
    z-index: 35;

    .lang-btn {
      display: inline;
      position: relative;
      background-color: rgba(255, 255, 255, 0.671);
      padding: 0.5vh 2vw;
      font-size: 12px;
      color: rgba(0, 0, 158, 0.762);
      border: 1.5px solid #6f6f6f;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #1b4d79;
        color: #fff;
      }
    }
    .lang-btn-rus {
      position: relative;
      display: flex;
      background-color: rgba(255, 255, 255, 0.805);
      border: 1px solid #6f6f6f;
      padding: 0.5vh 2vw;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        background: #2c699a;
        color: #fff;
        box-shadow: 1.5px 1.5px 4px #000000c1;
      }
    }

    .lang-btn-tat {
      position: relative;
      display: flex;
      background-color: rgba(255, 255, 255, 0.805);
      border: 1px solid #6f6f6f;
      padding: 0.5vh 2vw;
      border-radius: 8px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      &:hover {
        background: #2c699a;
        color: #fff;
        box-shadow: 1.5px 1.5px 4px #000000c1;
      }
    }
  }

  .beresta-scene {
    top: -2vh;
  }
  .beresta-container {
    margin-left: 24vw;
    margin-right: 29vw;
    margin-bottom: 11vh;
    margin-top: 12vh;
  }
  .beresta-content {
    width: 100vw;
  }
  .content-sheet {
    font-size: 14px;
  }

  .menu-toggle {
    display: block;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 20vh;
    width: 18vw;
    left: 2.2vw;
    font-size: 14px;

    button {
      position: relative;
      background: rgba(255, 255, 255, 0);
      text-align: center;
    }
    .menu-toggle :active {
      background-color: #1b4d79;
    }

    a {
      display: block;
      padding: 8px 16px;
      border-radius: 8px;
      font-weight: bold;
      border: #2c699a;
      background: rgba(255, 255, 255, 0.721);
      border-style: solid;
    }
  }

  .left-menu {
    top: 25.5vh;
    left: 2.8vw;
  }
  .left-menu ul {
    list-style: none;
    display: contents;
    gap: 5px;
    font-size: 12px;
  }

  .footer {
    height: 88px;
    color: #e6900f;
    font-size: 14px;
  }

  .project {
    left: 75vw;
  }
}

@media (max-width: 425px) {
  .logo {
    left: -3vw;
  }
  .logo:active {
    transform: scale(6.5);
  }
  .tooltip-container {
    gap: 2vw;
  }

  .tooltip {
    right: 18vw;

    .tooltip-text {
      padding: 6px;
      width: 16vh;
    }
    &:hover .tooltip-text {
      font-size: 12px;
    }
  }

  .language-switcher {
    top: 0.25vh;
    left: 47vw;

    .lang-btn {
      margin-block-end: 4px;
      font-size: 11px;
      width: 15vw;
    }
    .lang-btn-rus {
      margin-block: 5px;
      padding: 2px 8px;
    }

    .lang-btn-tat {
      margin-block: 5px;
      padding: 2px 8px;
    }
  }

  .font-menu button {
    font-size: 11px;
  }

  .font-menu {
    top: 3.5vh;
    width: 38vw;
    left: 50.5vw;
  }

  .beresta-scene {
    top: 0;
  }

  .content-sheet {
    font-size: 12px;
  }

  .menu-toggle {
    top: 15vh;
    height: auto;
    left: 1.5%;
    font-size: 0.6rem;
    width: auto;
  }

  .left-menu {
    top: 20vh;
    a {
      display: grid;
      font-size: 12px;
      width: 17vw;
    }
  }

  .left-menu button {
    display: grid;
  }

  .left-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .project {
    left: 68vw;
  }
}
