.gallery-wrapper {
  padding: 20px;
}

.gallery {
  max-width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.photo-card img {
  max-width: 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.photo-card img:hover {
  transform: scale(1.03);
}

.preview-wrapper {
  max-width: 85vw;
  position: relative;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.preview-box {
  z-index: 2;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  max-width: 170vw;
}

.preview-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 85vw;
  margin-top: 15px;
}

.preview-buttons button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #f0f0f0;
  transition: 0.2s;
}

.preview-buttons button:hover:not([disabled]) {
  background: #ddd;
}

.preview-buttons button[disabled] {
  opacity: 0.4;
  cursor: default;
}

.editor-wrapper {
  max-width: 85vw;
  padding: 15px;
}

.editor-header {
  max-width: 85vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.editor-overlay {
  pointer-events: auto;
}

.editor-overlay.hidden {
  pointer-events: none !important;
}

.editor-canvas-area {
  position: relative;
  display: inline-block;
}

.layer {
  position: relative;
  top: 0;
  left: 0;
  cursor: crosshair;
  pointer-events: auto;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: auto;
  pointer-events: auto;
  touch-action: none;
  width: 85vw;
  height: 70vh;
}

.preview-img {
  max-width: 85vw;
  max-height: 70vh;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.example {
  max-width: 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.drawing-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.drawing-canvas {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  display: block;
}

.tools {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
