 
    <h1>Лепота Окол</h1>
    <p>
      В мире, где каждый Божий день, только открыв глаза рано утром, каждый из нас уже куда-то опаздывает, где каждый мечтает о чем-то своем, и в то же время о чем-то несбыточном, будь то заработать еще один миллион на карманные расходы или
      отработать очередную смену на своем заводе и вернуться домой, где будут ждать тишина и покой. И у многих в голове мысли о том, что Красота и Счастье где-то ТАМ... <br>
      Далеко... <br>
      Согласно словам героя романа М.Ю.Лермонтова "Герой нашего времени" - Печорина, сказанным им в ответ на вопрос Вернера «Где лучше?». <br>
      Печорин отвечает: «Где нас нет.», рассуждая о том, что люди часто стремятся туда, где их нет, идеализируя другие места и обстоятельства. <br> 
      Но что, если красота на самом деле здесь и сейчас?
    </p>
    <p>
      Красота...
    </p>
    <p>
      Она есть всегда и везде...
    </p>
    <p>
      Она всегда нас окружает и даже более того, она пропитывает каждую клетку нашего тела.
    </p>
    <p>
      И исходит она, как правило, именно изнутри, согласно известной фразе: "Красота в глазах смотрящего"...</p>
    <p>
      Подтверждающей, что красота это не только что-то внешнее... далекое... Но, в первую очередь, это творение самого человека!
    </p>  
    <p>
      На это и направлен данный проект: Показать то, что красоту окружающего мира можно увидеть в любой момент. Торопишься ли ты по делам или просто гуляешь – неважно. Если замечаешь за собой постоянное или частое недовольство окружающими тебя обстоятельствами, то, наверное, стоит оглянуться вокруг и заметить ту красоту, которая не слепит и не кричит, то и дело маня куда-то в недосягаемую даль, но окружает тебя с момента рождения, и терпеливо ждет, когда ее заметят. Которая стала "обыденной" по мере твоего взросления, и мысли типа "Да так и должно быть по умолчанию..." просто захватили разум, ведь человек по своей натуре не может долго довольствоваться одним и тем же, он довольно быстро ко всему привыкает... 
    </p>
    <p>
      Верно?
    </p><br>
    <p>
      Но что если я скажу, что природа далеко не так постоянна, чтобы к ней можно было привыкнуть? <br> 
      Да, сама природа, окружающая нас, конечно же, находится в постоянном движении, правда заметить это движение бывает довольно трудно. Для этого нужно перестать постоянно куда-то бежать впереди планеты всей, и просто остановиться и оглянуться. И именно тогда можно будет разглядеть красоту окружающего мира, например, в деревьях, растущих неподалеку, в движении облаков по прекрасному синему небу, либо в тех картинах, что рисуют нам звезды...
    </p>
    <p>
      Тогда, глядишь, и окружающий мир станет добрее. Постепенно, правда...
      <br>
      Ведь, согласно законам физики в этом мире все подчиняется инерции, в том числе и процессы, которые мы воспринимаем нематериальными (энергии, сигналы, даже мысли и настроения). Иначе б тот же сигнал сотовой связи при одинаковых вводных двигался бы в одну сторону куда быстрее, чем в противоположную, в связи с чем и качество связи в этом случае отличалось бы...
    </p>
    <p>
      А ты как считаешь, дорогой мой друг?
    </p>

  