body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Контентная зона */
.content {
  width: 60%;
  max-width: 1000px;
  padding: 12.5% 5% 25% 5%;
  background: rgba(255, 255, 255, 0);
  text-align: justify;
}

/* Шрифты */
:root {
  --font-family: 'TimesNewRoman', serif;
}

html,
body,
app-root,
* {
  font-family: var(--font-family);
}
