<div class="about-container">
  <h1>Лепота Окол</h1>
  <div class="text-container">
    <p>
      "О, лепота и окол! Да вознесутся знамёна старославянские, и рекут люди, яко 
      писание древнее оживает на страницах сиих."
    </p>
    <p>
      Лепота Окол — это место, где сливаются искусство слова и визуальные образы. Здесь можно найти уникальные стихи и фотографии, передающие атмосферу времени и пространства.
    </p>
    <p>
      На страницах сайта вы найдете как современные стихи, так и стилизацию под старославянскую письменность.
      Для переключения стиля текста всей страницы можно кликнуть на иконку в верхнем правом углу страницы и выбрать понравившийся стиль письменности.
    </p>
  
    <h2>История стилей</h2>
    <div class="font-descriptions">
      <div class="font-block">
        <h3>Устав <span class="font-ponomar">(Устав)</span> (X–XV вв.)</h3>
        <p>Самый древний из старославянских почерков, использовавшийся в рукописях X–XV веков. Символы четкие, ровные, с минимальными сокращениями. Буквы пишутся отдельно, строго вертикально, с равными промежутками. Использовался в богослужебных книгах и официальных документах.</p>
      </div>
      <div class="font-block">
        <h3>Полуустав <span class="font-triodion">(Полуустав)</span> (XIV–XVII вв.)</h3>
        <p>Упрощенный вариант устава. Полуустав появился в XIV веке как более удобная и быстрая альтернатива уставу. Буквы более округлые и наклонные, появился разрыв между словами. Этот стиль позволял писать быстрее, поэтому широко использовался в делопроизводстве и рукописных книгах.</p>
      </div>
      <div class="font-block">
        <h3>Скоропись <span class="font-voskresensky">(Скоропись)</span> (XV–XVIII вв.)</h3>
        <p> Скоропись возникла в XV веке как стремление к ещё более быстрому письму. Самый быстрый и «повседневный» стиль письма. Буквы связаны друг с другом, есть множество сокращений и лигатур (слияний букв). Напоминает современный почерк, использовался для личной переписки и неофициальных документов.</p>
      </div>
      <div class="font-block">
        <h3>Современный шрифт <span class="font-times">(Современный)</span></h3>
        <p> В XX веке рукописное письмо уступило место печатным шрифтам. Современный стиль прост и удобочитаем, без лишних украшений. В проекте он представлен гарнитурами вроде Times New Roman.</p>
      </div>
  </div>
  </div>

</div>
