<div class="about-container">
  <h1>Лепота Окол</h1>
  <div class="text-container">
    <p class="font-ponomar" style="font-size: 1.2em">
      «О, лепота да окол! <br />
      Писание древлее оживает на страницах сих, яко свет во тьме возгорается!»
    </p>

    <h2><b>О проекте</b></h2>
    <p>
      Этот сайт является моим личным творческим путём. Здесь переплетаются фотографии, стихи,
      истории и идеи, которые дополняют друг друга и постепенно складываются в единое целое. <br />
    </p>
    <p>
      Каждая идея подобна семени. Её можно посадить, вырастить и увидеть, как она превращается в
      нечто прекрасное.
    </p>
    <p>
      Этот проект является не просто сайтом. Он задуман, как живой организм, который будет
      постепенно расти и меняться. Сейчас вы видите лишь первые шаги, как самого сайта, так и меня в
      качестве разработчика. Именно так, дорогой читатель! Вместе с этим сайтом я начинаю свой путь
      в веб-разработке.
    </p>
    <br />
    И да! Касаемо идей для данного проекта. В планах на текущий момент:
    <div class="ideas">
      <ul>
        <li>
          🎨 Рисовалка поверх фотографий (сначала просто для игры и развития, позже — с возможностью
          сохранять результат на сайте);
        </li>
        <li>🐦 Фоновое пение птиц, которое можно включить или выключить;</li>
        <li>
          🌗 Смена атмосферы сайта в зависимости от времени суток — от солнечного света до мягкого
          сияния свечи;
        </li>
        <li>
          🌍 Путешествия по регионам России вместе с виртуальным «путешественником», который раз в
          неделю будет делиться фото и заметками;
        </li>
        <li>🗣 Мультиязычность (планируется добавление языков народов России и не только);</li>
        <li>📚 Разделы, посвящённые мифологии и этимологии;</li>
        <li>И многое-многое другое...</li>
      </ul>
    </div>

    <p>
      Это не список обещаний и не план с жёсткими сроками. Скорее — карта дорог, по которым можно
      идти. Какие-то из идей воплотятся раньше, какие-то — позже, а что-то, возможно, изменится или
      появится новое. <br />
    </p>
    <p>
      Главное — этот проект создаётся с любовью. И если вы заглянули сюда, значит, он уже работает
      так, как задумывался: помогает остановиться, оглянуться вокруг и увидеть красоту в простых
      вещах.
    </p>
    <p>Спасибо, что вы здесь.<br />Благодаря вам этот проект живёт, растёт и вдохновляет.</p>
    <p>Располагайтесь, дорогие друзья!🤗</p>
  </div>
</div>
